In [8]:
import pandas as pd
import numpy as np

In [9]:
data=pd.read_csv("D:\\sridhar\\Analytics\\Code and datasets\\data sets\\SIM Fraud Analytics.csv",low_memory=False)
data.head()
data1=pd.read_csv("D:\\sridhar\\Analytics\\Code and datasets\\data sets\\test1.csv",low_memory=False)
data1.head()
null_columns=data1.columns[data1.isnull().any()]

In [11]:
data.isnull().sum().sum()

0

In [12]:
data1.isnull().sum().sum()

7

In [26]:
data1.isnull(data1['step'].isnull())
data2 = data1[data1.isnull().any(axis=1)]

TypeError: isnull() takes 1 positional argument but 2 were given

In [16]:
print(data2)

    step     type    amount     nameOrig  oldbalanceOrg  newbalanceOrig  \
5      1  PAYMENT   7817.71          NaN        53860.0        46042.29
6      1  PAYMENT   7107.77   C154988899       183195.0             NaN
8      1  PAYMENT   4024.36  C1265012928         2671.0            0.00
10     1      NaN   9644.94          NaN         4465.0            0.00
13     1  PAYMENT  11633.76  C1716932897        10127.0            0.00

      nameDest  oldbalanceDest  newbalanceDest  isFraud  isFlaggedFraud
5   M573487274               0            0.00      NaN               0
6   M408069119               0            0.00      0.0               0
8          NaN               0            0.00      0.0               0
10  C997608398           10845       157982.12      0.0               0
13         NaN               0            0.00      0.0               0

In [25]:
print() 
data1.columns

Index(['step', 'type', 'amount', 'nameOrig', 'oldbalanceOrg', 'newbalanceOrig',
       'nameDest', 'oldbalanceDest', 'newbalanceDest', 'isFraud',
       'isFlaggedFraud'],
      dtype='object')

In [27]:
print(data1.columns.values)

['step' 'type' 'amount' 'nameOrig' 'oldbalanceOrg' 'newbalanceOrig'
 'nameDest' 'oldbalanceDest' 'newbalanceDest' 'isFraud' 'isFlaggedFraud']

In [33]:
print(data1['step'])
print(data1['amount'])
print(data1.dtypes)

0     1
1     1
2     1
3     1
4     1
5     1
6     1
7     1
8     1
9     1
10    1
11    1
12    1
13    1
Name: step, dtype: int64
0      9839.64
1      1864.28
2       181.00
3       181.00
4     11668.14
5      7817.71
6      7107.77
7      7861.64
8      4024.36
9      5337.77
10     9644.94
11     3099.97
12     2560.74
13    11633.76
Name: amount, dtype: float64
step                int64
type               object
amount            float64
nameOrig           object
oldbalanceOrg     float64
newbalanceOrig    float64
nameDest           object
oldbalanceDest      int64
newbalanceDest    float64
isFraud           float64
isFlaggedFraud      int64
dtype: object

In [34]:
#To check if there are any missing values
data.isnull().sum().sum()

0