In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv("D:\\sridhar\\Analytics\\Code and datasets\\data sets\\SIM Fraud Analytics.csv",low_memory=False)
data.head()
data1=pd.read_csv("D:\\sridhar\\Analytics\\Code and datasets\\data sets\\test1.csv",low_memory=False)
data1.head()
null_columns=data1.columns[data1.isnull().any()]

In [3]:
data.isnull().sum().sum()

0

In [4]:
data1.isnull().sum().sum()

7

In [6]:
data2=pd.read_csv("D:\\sridhar\\Analytics\\Code and datasets\\data sets\\test2.csv",low_memory=False)
print(data2)

    step      type    amount     nameOrig  oldbalanceOrg  newbalanceOrig  \
0      1   PAYMENT   9839.64  C1231006815      170136.00       160296.36
1      1   PAYMENT   1864.28  C1666544295       21249.00        19384.72
2      1   PAYMENT  11668.14  C2048537720       41554.00        29885.86
3      1   PAYMENT   7107.77   C154988899      183195.00             NaN
4      1   PAYMENT   7861.64  C1912850431      176087.23       168225.59
5      1   PAYMENT   4024.36  C1265012928        2671.00            0.00
6      1     DEBIT   5337.77   C712410124       41720.00        36382.23
7      1       NaN   9644.94          NaN        4465.00            0.00
8      1   PAYMENT   3099.97   C249177573       20771.00        17671.03
9      1   PAYMENT   2560.74  C1648232591        5070.00         2509.26
10     1   PAYMENT  11633.76  C1716932897       10127.00            0.00
11     1  TRANSFER    181.00  C1305486145         181.00            0.00
12     1  CASH_OUT    181.00   C840083671         181.00            0.00
13     1   PAYMENT   7817.71          NaN       53860.00        46042.29

       nameDest  oldbalanceDest  newbalanceDest  isFraud  isFlaggedFraud
0   M1979787155               0            0.00        0               0
1   M2044282225               0            0.00        0               1
2   M1230701703               0            0.00        1               0
3    M408069119               0            0.00        1               0
4    M633326333               0            0.00        0               0
5           NaN               0            0.00        1               1
6    C195600860           41898        40348.79        0               0
7    C997608398           10845       157982.12        0               1
8   M2096539129               0            0.00        1               0
9    M972865270               0            0.00        0               0
10          NaN               0            0.00        0               0
11   C553264065               0            0.00        1               0
12    C38997010           21182            0.00        1               1
13   M573487274               0            0.00        1               0

In [7]:
print() 
data1.columns

Index(['step', 'type', 'amount', 'nameOrig', 'oldbalanceOrg', 'newbalanceOrig',
       'nameDest', 'oldbalanceDest', 'newbalanceDest', 'isFraud',
       'isFlaggedFraud'],
      dtype='object')

In [8]:
print(data1.columns.values)

['step' 'type' 'amount' 'nameOrig' 'oldbalanceOrg' 'newbalanceOrig'
 'nameDest' 'oldbalanceDest' 'newbalanceDest' 'isFraud' 'isFlaggedFraud']

In [9]:
print(data1['step'])
print(data1['amount'])
print(data1.dtypes)

0     1
1     1
2     1
3     1
4     1
5     1
6     1
7     1
8     1
9     1
10    1
11    1
12    1
13    1
Name: step, dtype: int64
0      9839.64
1      1864.28
2       181.00
3       181.00
4     11668.14
5      7817.71
6      7107.77
7      7861.64
8      4024.36
9      5337.77
10     9644.94
11     3099.97
12     2560.74
13    11633.76
Name: amount, dtype: float64
step                int64
type               object
amount            float64
nameOrig           object
oldbalanceOrg     float64
newbalanceOrig    float64
nameDest           object
oldbalanceDest      int64
newbalanceDest    float64
isFraud           float64
isFlaggedFraud      int64
dtype: object

In [10]:
#To check if there are any missing values
data.isnull().sum().sum()

0

In [11]:
data1.head()

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,1,PAYMENT,9839.64,C1231006815,170136.0,160296.36,M1979787155,0,0.0,0.0,0
1,1,PAYMENT,1864.28,C1666544295,21249.0,19384.72,M2044282225,0,0.0,0.0,0
2,1,TRANSFER,181.00,C1305486145,181.0,0.00,C553264065,0,0.0,1.0,0
3,1,CASH_OUT,181.00,C840083671,181.0,0.00,C38997010,21182,0.0,1.0,0
4,1,PAYMENT,11668.14,C2048537720,41554.0,29885.86,M1230701703,0,0.0,0.0,0

In [12]:
#An aggregrate function on a pandas dataframe
data1.agg({'amount': ['sum', 'min']})

       amount
sum  82822.72
min    181.00

In [13]:
data1.agg({'amount': ['sum', 'min'], 'oldbalanceOrg': ['sum', 'min']})

       amount  oldbalanceOrg
sum  82822.72      731267.23
min    181.00         181.00

In [14]:
data1.groupby(['type', 'isFraud']).size().reset_index(name='counts')

       type  isFraud  counts
0  CASH_OUT      1.0       1
1     DEBIT      0.0       1
2   PAYMENT      0.0       9
3  TRANSFER      1.0       1

In [15]:
data2=pd.read_csv("D:\\sridhar\\Analytics\\Code and datasets\\data sets\\test2.csv",low_memory=False)

In [16]:
data2.head()

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,1,PAYMENT,9839.64,C1231006815,170136.00,160296.36,M1979787155,0,0.0,0,0
1,1,PAYMENT,1864.28,C1666544295,21249.00,19384.72,M2044282225,0,0.0,0,1
2,1,PAYMENT,11668.14,C2048537720,41554.00,29885.86,M1230701703,0,0.0,1,0
3,1,PAYMENT,7107.77,C154988899,183195.00,NaN,M408069119,0,0.0,1,0
4,1,PAYMENT,7861.64,C1912850431,176087.23,168225.59,M633326333,0,0.0,0,0

In [17]:
data2.groupby(['type', 'isFraud']).size().reset_index(name='counts')

       type  isFraud  counts
0  CASH_OUT        1       1
1     DEBIT        0       1
2   PAYMENT        0       5
3   PAYMENT        1       5
4  TRANSFER        1       1

In [18]:
data.groupby(['type', 'isFraud']).size().reset_index(name='counts')

       type  isFraud   counts
0   CASH_IN        0  1399284
1  CASH_OUT        0  2233384
2  CASH_OUT        1     4116
3     DEBIT        0    41432
4   PAYMENT        0  2151495
5  TRANSFER        0   528812
6  TRANSFER        1     4097

In [22]:
#Only cashout and transfer got frauds true
data2.groupby(['type', 'isFraud', 'isFlaggedFraud']).size().reset_index(name='count')

       type  isFraud  isFlaggedFraud  count
0  CASH_OUT        1               1      1
1     DEBIT        0               0      1
2   PAYMENT        0               0      4
3   PAYMENT        0               1      1
4   PAYMENT        1               0      4
5   PAYMENT        1               1      1
6  TRANSFER        1               0      1

In [23]:
data.groupby(['type', 'isFraud', 'isFlaggedFraud']).size().reset_index(name='count')

       type  isFraud  isFlaggedFraud    count
0   CASH_IN        0               0  1399284
1  CASH_OUT        0               0  2233384
2  CASH_OUT        1               0     4116
3     DEBIT        0               0    41432
4   PAYMENT        0               0  2151495
5  TRANSFER        0               0   528812
6  TRANSFER        1               0     4081
7  TRANSFER        1               1       16

In [26]:
data.groupby(['nameOrig', 'nameDest','isFraud', 'isFlaggedFraud']).size().reset_index(name='count')

            nameOrig     nameDest  isFraud  isFlaggedFraud  count
0        C1000000639   C785826240        0               0      1
1        C1000001337   M216466820        0               0      1
2        C1000001725  M1974356374        0               0      1
3        C1000002591   C503690069        0               0      1
4        C1000003372  C1840417793        0               0      1
5        C1000003615   C996088808        0               0      1
6        C1000004053  C1128041097        0               0      1
7        C1000004530  C1643839147        0               0      1
8        C1000005353   C292963054        0               0      1
9        C1000005555  C1091802600        0               0      1
10       C1000005749  C1247252665        0               0      1
11       C1000005789  C2019011861        0               0      1
12       C1000006646  C1668344599        0               0      1
13       C1000006873  M1063351314        0               0      1
14       C1000008111  M1363206691        0               0      1
15       C1000008236   C107425672        0               0      1
16       C1000008393   C615558732        0               0      1
17       C1000008582  C1462566442        0               0      1
18       C1000008617   C703377372        0               0      1
19       C1000008975  C1919178439        0               0      1
20       C1000009135  M2120765976        0               0      1
21       C1000009272   M402728901        0               0      1
22       C1000009606  C1311531655        0               0      1
23       C1000010387   C740868212        0               0      1
24       C1000011070    C55050277        0               0      1
25        C100001139   C354792404        0               0      1
26       C1000012233   C655703351        0               0      1
27       C1000012640  C1239707538        0               0      1
28       C1000013879  C1234389323        0               0      1
29       C1000013915   C676353909        0               0      1
...              ...          ...      ...             ...    ...
6362590   C999988718  C1263200414        0               0      1
6362591   C999988902  C1482476379        0               0      1
6362592   C999988926  C1819877817        0               0      1
6362593   C999989130  C1972163922        0               0      1
6362594   C999989234  C1268024452        0               0      1
6362595   C999989413  C1675562483        0               0      1
6362596   C999989611   C512758089        0               0      1
6362597   C999989781  M1926990578        0               0      1
6362598   C999989921  C1002057348        0               0      1
6362599   C999990251   C322679809        0               0      1
6362600   C999991140   M346195016        0               0      1
6362601   C999991194  C1857236862        0               0      1
6362602   C999991491   C931198233        0               0      1
6362603   C999992118  M1511758918        0               0      1
6362604   C999992133  M1950087824        0               0      1
6362605     C9999922  M1614614197        0               0      1
6362606   C999992757  C1940875714        0               0      1
6362607   C999992985  C2072369902        0               0      1
6362608      C999993  C1382073592        0               0      1
6362609    C99999367  M1618919399        0               0      1
6362610   C999993700   M458321185        0               0      1
6362611   C999993966  C1835988678        0               0      1
6362612   C999994518  C1686939834        0               0      1
6362613   C999995025  M1867626962        0               0      1
6362614   C999996950  C1589405935        0               0      1
6362615   C999996999  M1172320911        0               0      1
6362616   C999998175  C1528914331        0               0      1
6362617   C999999254   C667494566        0               0      1
6362618   C999999614  M1893160978        0               0      1
6362619   C999999784  C1952034932        0               0      1

[6362620 rows x 5 columns]

In [29]:
#Let us try to apply logistic regression model and try to improve the same. 
#This dataset is unbalancecd. However I would like to see impact of unbalance by implementing algorithm
#converting type into categorical data type using label encoding.
data['type']=data['type'].astype('category')

In [30]:
data['type_codes'] = data['type'].cat.codes

In [32]:
data.head()

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud,type_codes
0,1,PAYMENT,9839.64,C1231006815,170136.0,160296.36,M1979787155,0.0,0.0,0,0,3
1,1,PAYMENT,1864.28,C1666544295,21249.0,19384.72,M2044282225,0.0,0.0,0,0,3
2,1,TRANSFER,181.00,C1305486145,181.0,0.00,C553264065,0.0,0.0,1,0,4
3,1,CASH_OUT,181.00,C840083671,181.0,0.00,C38997010,21182.0,0.0,1,0,1
4,1,PAYMENT,11668.14,C2048537720,41554.0,29885.86,M1230701703,0.0,0.0,0,0,3

In [33]:
data.drop(['type', 'nameOrig', 'nameDest'], axis=1)

,step,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud,type_codes
0,1,9839.64,170136.00,160296.36,0.00,0.00,0,0,3
1,1,1864.28,21249.00,19384.72,0.00,0.00,0,0,3
2,1,181.00,181.00,0.00,0.00,0.00,1,0,4
3,1,181.00,181.00,0.00,21182.00,0.00,1,0,1
4,1,11668.14,41554.00,29885.86,0.00,0.00,0,0,3
5,1,7817.71,53860.00,46042.29,0.00,0.00,0,0,3
6,1,7107.77,183195.00,176087.23,0.00,0.00,0,0,3
7,1,7861.64,176087.23,168225.59,0.00,0.00,0,0,3
8,1,4024.36,2671.00,0.00,0.00,0.00,0,0,3
9,1,5337.77,41720.00,36382.23,41898.00,40348.79,0,0,2
10,1,9644.94,4465.00,0.00,10845.00,157982.12,0,0,2
11,1,3099.97,20771.00,17671.03,0.00,0.00,0,0,3
12,1,2560.74,5070.00,2509.26,0.00,0.00,0,0,3
13,1,11633.76,10127.00,0.00,0.00,0.00,0,0,3
14,1,4098.78,503264.00,499165.22,0.00,0.00,0,0,3
15,1,229133.94,15325.00,0.00,5083.00,51513.44,0,0,1
16,1,1563.82,450.00,0.00,0.00,0.00,0,0,3
17,1,1157.86,21156.00,19998.14,0.00,0.00,0,0,3
18,1,671.64,15123.00,14451.36,0.00,0.00,0,0,3
19,1,215310.30,705.00,0.00,22425.00,0.00,0,0,4
20,1,1373.43,13854.00,12480.57,0.00,0.00,0,0,3
21,1,9302.79,11299.00,1996.21,29832.00,16896.70,0,0,2
22,1,1065.41,1817.00,751.59,10330.00,0.00,0,0,2
23,1,3876.41,67852.00,63975.59,0.00,0.00,0,0,3
24,1,311685.89,10835.00,0.00,6267.00,2719172.89,0,0,4
25,1,6061.13,443.00,0.00,0.00,0.00,0,0,3
26,1,9478.39,116494.00,107015.61,0.00,0.00,0,0,3
27,1,8009.09,10968.00,2958.91,0.00,0.00,0,0,3
28,1,8901.99,2958.91,0.00,0.00,0.00,0,0,3
29,1,9920.52,0.00,0.00,0.00,0.00,0,0,3
...,...,...,...,...,...,...,...,...,...
6362590,741,323726.61,323726.61,0.00,0.00,0.00,1,0,4
6362591,741,323726.61,323726.61,0.00,561753.58,885480.19,1,0,1
6362592,741,383661.10,383661.10,0.00,0.00,0.00,1,0,4
6362593,741,383661.10,383661.10,0.00,1788112.70,2171773.80,1,0,1
6362594,741,144945.34,144945.34,0.00,0.00,0.00,1,0,4
6362595,741,144945.34,144945.34,0.00,0.00,144945.34,1,0,1
6362596,741,48442.88,48442.88,0.00,0.00,0.00,1,0,4
6362597,741,48442.88,48442.88,0.00,513746.19,562189.07,1,0,1
6362598,742,4009058.39,4009058.39,0.00,0.00,0.00,1,0,4
6362599,742,4009058.39,4009058.39,0.00,1229761.96,5238820.34,1,0,1
6362600,742,652993.91,652993.91,0.00,0.00,0.00,1,0,4
6362601,742,652993.91,652993.91,0.00,0.00,652993.91,1,0,1
6362602,742,1819543.69,1819543.69,0.00,0.00,0.00,1,0,4
6362603,742,1819543.69,1819543.69,0.00,0.00,1819543.69,1,0,1
6362604,742,54652.46,54652.46,0.00,0.00,0.00,1,0,4
6362605,742,54652.46,54652.46,0.00,0.00,54652.46,1,0,1
6362606,742,303846.74,303846.74,0.00,0.00,0.00,1,0,4
6362607,742,303846.74,303846.74,0.00,343660.89,647507.63,1,0,1
6362608,742,258355.42,258355.42,0.00,0.00,0.00,1,0,4
6362609,742,258355.42,258355.42,0.00,25176.67,283532.09,1,0,1
6362610,742,63416.99,63416.99,0.00,0.00,0.00,1,0,4
6362611,742,63416.99,63416.99,0.00,276433.18,339850.17,1,0,1
6362612,743,1258818.82,1258818.82,0.00,0.00,0.00,1,0,4
6362613,743,1258818.82,1258818.82,0.00,503464.50,1762283.33,1,0,1
6362614,743,339682.13,339682.13,0.00,0.00,0.00,1,0,4
6362615,743,339682.13,339682.13,0.00,0.00,339682.13,1,0,1
6362616,743,6311409.28,6311409.28,0.00,0.00,0.00,1,0,4
6362617,743,6311409.28,6311409.28,0.00,68488.84,6379898.11,1,0,1
6362618,743,850002.52,850002.52,0.00,0.00,0.00,1,0,4
6362619,743,850002.52,850002.52,0.00,6510099.11,7360101.63,1,0,1

In [35]:

data['isFraud']=data['isFraud'].astype('category')

In [36]:
data['isFlaggedFraud']=data['isFlaggedFraud'].astype('category')

In [37]:
data.head()

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud,type_codes
0,1,PAYMENT,9839.64,C1231006815,170136.0,160296.36,M1979787155,0.0,0.0,0,0,3
1,1,PAYMENT,1864.28,C1666544295,21249.0,19384.72,M2044282225,0.0,0.0,0,0,3
2,1,TRANSFER,181.00,C1305486145,181.0,0.00,C553264065,0.0,0.0,1,0,4
3,1,CASH_OUT,181.00,C840083671,181.0,0.00,C38997010,21182.0,0.0,1,0,1
4,1,PAYMENT,11668.14,C2048537720,41554.0,29885.86,M1230701703,0.0,0.0,0,0,3

In [39]:
data.step.unique()

array([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
        14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,
        27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,
        40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,
        53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,
        66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,  78,
        79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,  91,
        92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103, 104,
       105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117,
       118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130,
       131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143,
       144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156,
       157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169,
       170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182,
       183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195,
       196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208,
       209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221,
       222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234,
       235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247,
       248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260,
       261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273,
       274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286,
       287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299,
       300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312,
       313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325,
       326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338,
       339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351,
       352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364,
       365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377,
       378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390,
       391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403,
       404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416,
       417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429,
       430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441, 442,
       443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454, 455,
       456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467, 468,
       469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480, 481,
       482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493, 494,
       495, 496, 497, 498, 499, 500, 501, 502, 503, 504, 505, 506, 507,
       508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518, 519, 520,
       521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531, 532, 533,
       534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 545, 546,
       547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 557, 558, 559,
       560, 561, 562, 563, 564, 565, 566, 567, 568, 569, 570, 571, 572,
       573, 574, 575, 576, 577, 578, 579, 580, 581, 582, 583, 584, 585,
       586, 587, 588, 589, 590, 591, 592, 593, 594, 595, 596, 597, 598,
       599, 600, 601, 602, 603, 604, 605, 606, 607, 608, 609, 610, 611,
       612, 613, 614, 615, 616, 617, 618, 619, 620, 621, 622, 623, 624,
       625, 626, 627, 628, 629, 630, 631, 632, 633, 634, 635, 636, 637,
       638, 639, 640, 641, 642, 643, 644, 645, 646, 647, 648, 649, 650,
       651, 652, 653, 654, 655, 656, 657, 658, 659, 660, 661, 662, 663,
       664, 665, 666, 667, 668, 669, 670, 671, 672, 673, 674, 675, 676,
       677, 678, 679, 680, 681, 682, 683, 684, 685, 686, 687, 688, 689,
       690, 691, 692, 693, 694, 695, 696, 697, 698, 699, 700, 701, 702,
       703, 704, 705, 706, 707, 708, 709, 710, 711, 712, 713, 714, 715,
       716, 717, 718, 719, 720, 721, 722, 723, 724, 725, 726, 727, 728,
       729, 730, 731, 732, 733, 734, 735, 736, 737, 738, 739, 740, 741,
       742, 743], dtype=int64)

In [45]:
data.drop(['step'], axis=1)

,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud,type_codes
0,PAYMENT,9839.64,C1231006815,170136.00,160296.36,M1979787155,0.00,0.00,0,0,3
1,PAYMENT,1864.28,C1666544295,21249.00,19384.72,M2044282225,0.00,0.00,0,0,3
2,TRANSFER,181.00,C1305486145,181.00,0.00,C553264065,0.00,0.00,1,0,4
3,CASH_OUT,181.00,C840083671,181.00,0.00,C38997010,21182.00,0.00,1,0,1
4,PAYMENT,11668.14,C2048537720,41554.00,29885.86,M1230701703,0.00,0.00,0,0,3
5,PAYMENT,7817.71,C90045638,53860.00,46042.29,M573487274,0.00,0.00,0,0,3
6,PAYMENT,7107.77,C154988899,183195.00,176087.23,M408069119,0.00,0.00,0,0,3
7,PAYMENT,7861.64,C1912850431,176087.23,168225.59,M633326333,0.00,0.00,0,0,3
8,PAYMENT,4024.36,C1265012928,2671.00,0.00,M1176932104,0.00,0.00,0,0,3
9,DEBIT,5337.77,C712410124,41720.00,36382.23,C195600860,41898.00,40348.79,0,0,2
10,DEBIT,9644.94,C1900366749,4465.00,0.00,C997608398,10845.00,157982.12,0,0,2
11,PAYMENT,3099.97,C249177573,20771.00,17671.03,M2096539129,0.00,0.00,0,0,3
12,PAYMENT,2560.74,C1648232591,5070.00,2509.26,M972865270,0.00,0.00,0,0,3
13,PAYMENT,11633.76,C1716932897,10127.00,0.00,M801569151,0.00,0.00,0,0,3
14,PAYMENT,4098.78,C1026483832,503264.00,499165.22,M1635378213,0.00,0.00,0,0,3
15,CASH_OUT,229133.94,C905080434,15325.00,0.00,C476402209,5083.00,51513.44,0,0,1
16,PAYMENT,1563.82,C761750706,450.00,0.00,M1731217984,0.00,0.00,0,0,3
17,PAYMENT,1157.86,C1237762639,21156.00,19998.14,M1877062907,0.00,0.00,0,0,3
18,PAYMENT,671.64,C2033524545,15123.00,14451.36,M473053293,0.00,0.00,0,0,3
19,TRANSFER,215310.30,C1670993182,705.00,0.00,C1100439041,22425.00,0.00,0,0,4
20,PAYMENT,1373.43,C20804602,13854.00,12480.57,M1344519051,0.00,0.00,0,0,3
21,DEBIT,9302.79,C1566511282,11299.00,1996.21,C1973538135,29832.00,16896.70,0,0,2
22,DEBIT,1065.41,C1959239586,1817.00,751.59,C515132998,10330.00,0.00,0,0,2
23,PAYMENT,3876.41,C504336483,67852.00,63975.59,M1404932042,0.00,0.00,0,0,3
24,TRANSFER,311685.89,C1984094095,10835.00,0.00,C932583850,6267.00,2719172.89,0,0,4
25,PAYMENT,6061.13,C1043358826,443.00,0.00,M1558079303,0.00,0.00,0,0,3
26,PAYMENT,9478.39,C1671590089,116494.00,107015.61,M58488213,0.00,0.00,0,0,3
27,PAYMENT,8009.09,C1053967012,10968.00,2958.91,M295304806,0.00,0.00,0,0,3
28,PAYMENT,8901.99,C1632497828,2958.91,0.00,M33419717,0.00,0.00,0,0,3
29,PAYMENT,9920.52,C764826684,0.00,0.00,M1940055334,0.00,0.00,0,0,3
...,...,...,...,...,...,...,...,...,...,...,...
6362590,TRANSFER,323726.61,C509686434,323726.61,0.00,C1310143791,0.00,0.00,1,0,4
6362591,CASH_OUT,323726.61,C919525792,323726.61,0.00,C993635374,561753.58,885480.19,1,0,1
6362592,TRANSFER,383661.10,C457476945,383661.10,0.00,C1688658215,0.00,0.00,1,0,4
6362593,CASH_OUT,383661.10,C369315575,383661.10,0.00,C2069429837,1788112.70,2171773.80,1,0,1
6362594,TRANSFER,144945.34,C31496887,144945.34,0.00,C1251365829,0.00,0.00,1,0,4
6362595,CASH_OUT,144945.34,C1092829426,144945.34,0.00,C716019997,0.00,144945.34,1,0,1
6362596,TRANSFER,48442.88,C1112979339,48442.88,0.00,C2114078084,0.00,0.00,1,0,4
6362597,CASH_OUT,48442.88,C1706094385,48442.88,0.00,C2109905271,513746.19,562189.07,1,0,1
6362598,TRANSFER,4009058.39,C1044665079,4009058.39,0.00,C750074708,0.00,0.00,1,0,4
6362599,CASH_OUT,4009058.39,C1970706589,4009058.39,0.00,C637394241,1229761.96,5238820.34,1,0,1
6362600,TRANSFER,652993.91,C40604503,652993.91,0.00,C1166857907,0.00,0.00,1,0,4
6362601,CASH_OUT,652993.91,C1614818636,652993.91,0.00,C362803701,0.00,652993.91,1,0,1
6362602,TRANSFER,1819543.69,C2089752665,1819543.69,0.00,C112833674,0.00,0.00,1,0,4
6362603,CASH_OUT,1819543.69,C1039979813,1819543.69,0.00,C2078394828,0.00,1819543.69,1,0,1
6362604,TRANSFER,54652.46,C1674778854,54652.46,0.00,C1930074465,0.00,0.00,1,0,4
6362605,CASH_OUT,54652.46,C43545501,54652.46,0.00,C830041824,0.00,54652.46,1,0,1
6362606,TRANSFER,303846.74,C959102961,303846.74,0.00,C114421319,0.00,0.00,1,0,4
6362607,CASH_OUT,303846.74,C1148860488,303846.74,0.00,C846260566,343660.89,647507.63,1,0,1
6362608,TRANSFER,258355.42,C1226129332,258355.42,0.00,C1744173808,0.00,0.00,1,0,4
6362609,CASH_OUT,258355.42,C1113162093,258355.42,0.00,C797688696,25176.67,283532.09,1,0,1
6362610,TRANSFER,63416.99,C778071008,63416.99,0.00,C1812552860,0.00,0.00,1,0,4
6362611,CASH_OUT,63416.99,C994950684,63416.99,0.00,C1662241365,276433.18,339850.17,1,0,1
6362612,TRANSFER,1258818.82,C1531301470,1258818.82,0.00,C1470998563,0.00,0.00,1,0,4
6362613,CASH_OUT,1258818.82,C1436118706,1258818.82,0.00,C1240760502,503464.50,1762283.33,1,0,1
6362614,TRANSFER,339682.13,C2013999242,339682.13,0.00,C1850423904,0.00,0.00,1,0,4
6362615,CASH_OUT,339682.13,C786484425,339682.13,0.00,C776919290,0.00,339682.13,1,0,1
6362616,TRANSFER,6311409.28,C1529008245,6311409.28,0.00,C1881841831,0.00,0.00,1,0,4
6362617,CASH_OUT,6311409.28,C1162922333,6311409.28,0.00,C1365125890,68488.84,6379898.11,1,0,1
6362618,TRANSFER,850002.52,C1685995037,850002.52,0.00,C2080388513,0.00,0.00,1,0,4
6362619,CASH_OUT,850002.52,C1280323807,850002.52,0.00,C873221189,6510099.11,7360101.63,1,0,1

In [50]:

data.drop(['type'], axis=1)
data.columns

Index(['step', 'type', 'amount', 'nameOrig', 'oldbalanceOrg', 'newbalanceOrig',
       'nameDest', 'oldbalanceDest', 'newbalanceDest', 'isFraud',
       'isFlaggedFraud', 'type_codes'],
      dtype='object')

In [51]:
data.head()

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud,type_codes
0,1,PAYMENT,9839.64,C1231006815,170136.0,160296.36,M1979787155,0.0,0.0,0,0,3
1,1,PAYMENT,1864.28,C1666544295,21249.0,19384.72,M2044282225,0.0,0.0,0,0,3
2,1,TRANSFER,181.00,C1305486145,181.0,0.00,C553264065,0.0,0.0,1,0,4
3,1,CASH_OUT,181.00,C840083671,181.0,0.00,C38997010,21182.0,0.0,1,0,1
4,1,PAYMENT,11668.14,C2048537720,41554.0,29885.86,M1230701703,0.0,0.0,0,0,3

In [52]:
from sklearn import preprocessing

In [53]:
le = preprocessing.LabelEncoder()

In [54]:
le.fit(data['type'])

LabelEncoder()

In [55]:
list(le.classes_)

['CASH_IN', 'CASH_OUT', 'DEBIT', 'PAYMENT', 'TRANSFER']

In [56]:
data.head()

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud,type_codes
0,1,PAYMENT,9839.64,C1231006815,170136.0,160296.36,M1979787155,0.0,0.0,0,0,3
1,1,PAYMENT,1864.28,C1666544295,21249.0,19384.72,M2044282225,0.0,0.0,0,0,3
2,1,TRANSFER,181.00,C1305486145,181.0,0.00,C553264065,0.0,0.0,1,0,4
3,1,CASH_OUT,181.00,C840083671,181.0,0.00,C38997010,21182.0,0.0,1,0,1
4,1,PAYMENT,11668.14,C2048537720,41554.0,29885.86,M1230701703,0.0,0.0,0,0,3

In [57]:
le.transform(data['type'])

array([3, 3, 4, ..., 1, 4, 1], dtype=int64)

In [58]:
data.head()

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud,type_codes
0,1,PAYMENT,9839.64,C1231006815,170136.0,160296.36,M1979787155,0.0,0.0,0,0,3
1,1,PAYMENT,1864.28,C1666544295,21249.0,19384.72,M2044282225,0.0,0.0,0,0,3
2,1,TRANSFER,181.00,C1305486145,181.0,0.00,C553264065,0.0,0.0,1,0,4
3,1,CASH_OUT,181.00,C840083671,181.0,0.00,C38997010,21182.0,0.0,1,0,1
4,1,PAYMENT,11668.14,C2048537720,41554.0,29885.86,M1230701703,0.0,0.0,0,0,3

In [59]:
list(le.inverse_transform([2, 2, 1]))

C:\Users\Dell\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

['DEBIT', 'DEBIT', 'CASH_OUT']